:root {
    /* colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light: #f9f1eb;
    --color-dark: #10231a;
    --color-accent-dark: #74be9b;
    --color-accent-light: #96ceb4;

    /* buttons */
    --border-w: 2px;

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    --color-white: #000000;
    --color-black: #ffffff;
    --color-dark: #f9f1eb;
    --color-light: #08110d;
    --color-accent-dark: #ffffff;
    --color-accent-light: #183427;
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ranade', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

a {
    color: var(--color-accent-dark);
}

p {
    margin-bottom:1.5rem;
}

strong {
    color: var(--color-accent-dark);
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 2px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
    outline: 1px solid var(--color-dark);
  }