/* Headings */
.heading__primary {
    font-size: var(--size-4xl);
    margin-bottom: 0.5em;
}

.heading__secondary {
    font-size: var(--size-3xl);
    margin-bottom: 0.25em;
}

.heading__tertiary {
    font-size: var(--size-2xl);
    margin-bottom: 0.25em;
}

/* Buttons */
.btn__container {
    position: relative;
    z-index: 0;
}

.btn {
    position: relative;
    padding: 0.5em 1.5em;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-accent-dark);
    font-size: var(--size-2xl);
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
    transition: color 1.5s ease-out;
    cursor: pointer;
    border-radius: 2em;
    z-index: 0;
}

.btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-accent-dark);
    border-radius: 2em;
}

.btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s 0.2s;
    border-radius: 2em;
    z-index: -2;
}

.btn:hover {
    color: var(--color-light);
    border-radius: 2em;
    transform: translateX(3px);
}

.btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 2em;
}

.btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background: transparent;
}

.btn__effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-accent-dark);
    border-radius: 2em;
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.btn:hover .btn__effect {
    transform: translateX(0);
}

button {
    background: none;
    border: none;
}

/* Theme Toggle Button */
#theme-toggle {
    z-index: 9999;
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    width: 3em;
    height: 3em;
    background: #6b9080;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;
}

.sun-icon {
    display: none;
}

.sun-icon.active {
    display: block;
}

.moon-icon {
    display: none;
}

.moon-icon.active {
    display: block;
}

/* Sections */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 4rem; 
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 8rem; 
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* xxl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}