/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* xxl */
@media (min-width: 1536px) {}

.header__primary {
    font-size: var(--size-4xl);
    margin-bottom: 0.5em;
}

.header__secondary {
    font-size: var(--size-3xl);
    margin-bottom: 0.25em;
}

.header__tertiary {
    font-size: var(--size-2xl);
    margin-bottom: 0.25em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--color-accent-dark);
    letter-spacing: -0.05em;
    background-color: transparent;
    color: var(--color-accent-dark);
    font-weight: 600;
    padding: 0.5em 1em;
    border-radius: 2em;
}

.move-right {
    transition-duration: 0.5s;
}

.move-right:hover {
    transform: translateX(3px);
    transition-duration: 0.5s;
    cursor: pointer;
}

button {
    background: none;
    border: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 4rem; 
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
    .section {
        margin-top: 8rem; 
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* xxl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}