.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 2em;
    background: var(--color-white);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
}

.about__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about p {
    max-width: 55ch;
}

.about__img {
    max-width: 25rem;
}

/* sm */
@media (min-width: 640px) {
    .about {
        flex-direction: row;
    }

    .about__col {
        width: 50%;
        align-items: center;
    }

    .about__col.desc-col {
        align-items: flex-start;
    }
}