.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__col.desc-col {
    align-items: flex-start;
    padding-top: 2em;
}

.about p {
    max-width: 55ch;
}

.about__img {
    max-width: 25rem;
}

/* sm */
@media (min-width: 640px) {
    .about {
        flex-direction: row;
    }

    .about__col {
        width: 30%;
        min-width: 400px;
    }

    .about__col.desc-col {
        align-items: flex-start;
        padding-left: 4em;
    }
}