.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog__row {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 2em;
    margin-top: 1.5rem;
}

.blog__article {
    transition-duration: 0.5s;
    text-decoration: none;
    padding-bottom: 1.5em;
    cursor: pointer;
    color: var(--color-dark);
}

.blog__article:hover {
    box-shadow: 1px 1px 7px 2px #0003;
    transform: translateY(2px);
    
}

.blog__topic {
    text-transform: uppercase;
}

.blog__date {
    text-transform: lowercase;
}

.blog__row .blog__topic, .blog__row .blog__title {
    padding: 0 1.5rem;
}

.post * {
    max-width: 115ch;
}

.post img {
    margin-bottom: 1.5rem;
    max-width: 100%;
    display: block;
    user-select: none;
}

.post h3 {
    font-size: var(--size-2xl)
}

.highlight-1 {
    background-color: #fcf151;
    color: #171A21;
    padding: 0 4px;
}

.highlight-2 {
    background-color: #67dfff;
    color: #171A21;
    padding: 0 4px;
}

.highlight-3 {
    background-color: #83f18d;
    color: #171A21;
    padding: 0 4px;
}

.highlight-4 {
    background-color: #b581fe;
    color: #171A21;
    padding: 0 4px;
}

/* xl */
@media (min-width: 1280px) {
    .blog__row {
        grid-template-columns: 33% 33% 33%;
    }
}