.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
    background: var(--color-white);
}

.featured__row:not(:first-child) {
    margin-top: 5rem;
}

.featured__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.desc-col {
    padding: 2em;
}

.featured__img-container {
    height: auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 2em 2em 0 0;
    aspect-ratio: 16 / 9;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
}

.featured__img-container img {
    top: 0;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin:0;
    padding:0;
    -webkit-transition: top 11s;
    -moz-transition: top 11s;
    -ms-transition: top 11s;
    -o-transition: top 11s;
    transition: bottom 11s;
}

.featured__img-container:hover img {
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
}

#Empire-img:hover img {
    top: -745%;
}

#AADOM-img:hover img {
    top: -450%;
}

#Boca-img:hover img {
    top: -540%;
}

#Smiles-img:hover img {
    top: -600%;
}

/* sm */
@media (min-width: 640px) {
    .featured__description {
        max-width: 40ch;
    }
}

/* lg */
@media (min-width: 1024px) {
    .featured__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .featured__row.reverse {
        flex-direction:row-reverse;
    }
    
    .featured__col {
        flex: none;
        width: 33.333%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .featured__img-container {
        border-radius: 2em 0 0 2em;
    }

    .featured__row.reverse .featured__img-container {
        border-radius: 0 2em 2em 0;
    }

    .img-col {
        width: 66.666%;
    }

    .featured__row.reverse .featured__col {
        align-items: flex-end;
    }

    .featured__col .heading__primary {
        max-width: 17ch;
    }

    .featured__row.reverse .featured__col .heading__primary {
        text-align: right;
    }
}