.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10rem;
}

#hero__title {
    font-size: var(--size-5xl);

}

#hero__subtitle {
    font-size: var(--size-4xl);
    margin-bottom: 2em;
    text-transform: lowercase;
}

#hello_world {
    min-height: 1.65ch;
    max-width: fit-content;
}

#hello_world.typing {
    border-right: 2px solid var(--color-dark);
    animation: typing 400ms linear 0ms infinite;
}

@keyframes typing {
    0%, 50% {
        border-color: transparent; /* Invisible border */
    }
    100% {
        border-color: var(--color-dark); /* Visible border */
    }
}

.hero__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4rem;
    gap: 3rem;
    width: 80%;

}

.hero__row .hero__box {
    background: var(--color-white);
    padding: 1em;
    max-width: 10em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, .1);
}

.hero__row .hero__box svg {
    height: auto;
    width: auto;
}

/* md */
@media (min-width: 768px) {
    #hero__title {
        font-size: var(--size-5xl);
    }
    .hero__row .hero__box {
        padding: 2em;
        border-radius: 2em;
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero {
        margin-top: 6rem;
    }

    .hero__row {
        margin-top: 10rem;
    }
    
    #hero__title {
        font-size: var(--size-6xl);
    }

}

/* xl */
@media (min-width: 1280px) {
    #hero__title {
        font-size: var(--size-6xl);
    }
}