.parallax-effect {
    z-index: -1;
}

/* md */
@media (min-width: 768px) {
    .parallax-effect {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 2rem;
        will-change: transform;
        transform:
            translateY(var(--ty, 0))
            rotateX(var(--rx, 0))
            rotateY(var(--ry, 0))
            translateZ(var(--tz, -0.5rem));
    }
}